<!DOCTYPE html>

@{
    Layout = null;
    
}

@{
    ViewBag.Title = "adminlogin";
}

<html>
    <head>
        <title>  admin login </title>

<h2>adminlogin</h2>
    </head>

<body style="background-image:url(http://ak.picdn.net/offset/photos/56f5a5902d1642c1896305b6/medium/offset_342370.jpg?DFghwDcb?DFghwDcb); resize:both;">

        <section class="admin">
     <form method="post" action="~/Admin/Check">
         Enter Admin Password: 
         <input type="text" name="username"/>

         Enter Admin Password:
         <input type="password" name="password"/>

         <input type="submit" value="Login">

     </form>

        </section >
<body>
</html>

