@{
    ViewBag.Title = "changepass";
}

@{
    Layout = null;
}
<br>

<center> <h2>Change your password </h2> </center>

<body style="background-image:url(http://rachaelp.com/PD%20Layout/Backgrounds/makeup/makeup.png);">
<center>
    <form method="post" action="~/Home/Updated">
    <fieldset>
        <legend> Change your Password </legend>
        <br>
   Enter Username:
    <input type="text" name="username">
    <br> 
                <br>
New Password:
<input type="text" name="password"/>
        <br>
        <br>
<input type="submit" name="Done"/>
        </fieldset>
</form>
    </center>
    </body>
